body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.calc-container {
    display: flex;
    flex-direction: column;
    padding: 30px;
    gap: 10px;
    border: 2px solid black;
    background: black;
    border-radius: 50px;
    overflow-wrap: break-word;
}

.btn-container {
    display: flex;
    flex-direction: column;
    gap: 2px;
}

.display {
    background-color: white;
    text-align: right;
    align-self: center;
    border: 2px solid black;
    border-radius: 20px;
    width: 280px;
    height: 76px;
    padding: 8px;
    font-size: 50px;
    line-height: 1.5;
}



.row {
    display: flex;
    gap: 4px;
    justify-content: center;
}

#zero, .equals {
   flex: 1;
}

button {
    height: 72px;
    width: 72px;
    margin: 0px;
    padding: 0px;
    background-color: white;
    border: 2px solid gray;
    border-radius: 20px;
    font-size: 25px;
}

.title-container > p {
    color: aliceblue;
}
button.operator {
    flex: 1;
}
/* button background colors */
.all-clear {
    transition-duration: 0.4s;
  }
.all-clear:hover {
    background: grey;
    color: white;
    border: 1px solid grey;
}  

.number {
    transition-duration: 0.4s;
}
.number:hover {
    background: black;
    color: white;
    border: 1px solid black;
}

.operator,
.equals {
    transition-duration: 0.4s;
}
.operator:hover,
.equals:hover {
    background: orange;
    color: white;
    border: 1px solid orange;
}

